@use "../abstracts/variables" as *;

.h1 {
  font-size: 3rem; //48px
}

.h2 {
  font-size: 2rem; //32px
}

.h3 {
  font-size: 1.25rem; //20px
}

body {
  font-size: 1.125rem; //18px
}

.h1,
.h2,
.h3,
body,
.game-number-6x6,
.game-number-4x4 {
  font-weight: 700;
}

.text-midnight-blue {
  color: $MIDNIGHT_BLUE;
}

.text-white {
  color: $WHITE;
}

.text-slate-blue {
  color: $SLATE_BLUE;
}

.text-dark-navy {
  color: $DARK_NAVY;
}

.text-light-salmon {
  color: $LIGHT_SALMON;
}
