@use "../abstracts/variables" as *;

.bg-white {
  background-color: $WHITE;
}

.bg-dark-navy {
  background-color: $DARK_NAVY;
}

.bg-light-salmon {
  background-color: $LIGHT_SALMON;
}

.div-container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}
