@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.player-metrics {
  position: relative;
  width: 200px;
  z-index: 0;

  @include medium-screen() {
    width: 150px;
  }
  @include small-screen() {
    width: 90px;
    flex-direction: column;
    gap: 2px;
    padding: 0.5rem 1rem;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 1.25rem;
  border-radius: 10px;

  background-color: #dfe7ec;

  .metrics-label {
    color: $SLATE_BLUE;
  }
  .metrics-value {
    color: $MIDNIGHT_BLUE;
  }

  &.current {
    .metrics-label,
    .metrics-value {
      color: $WHITE;
    }
  }

  &.progress {
    .up-triangle {
      position: absolute;
      top: -25px;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      height: 30px;

      // Gradient from left to right
      mask: url("/triangle.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      transition: width 300ms;
      z-index: 1;
    }

    ::before {
      content: "";
      position: absolute;
      top: -19px;
      left: 50%;
      translate: -50% 0;
      width: 38px;
      height: 19px;
      background-color: #dfe7ec;
      mask: url("/triangle.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      transition: width 300ms;
      z-index: 1;
    }

    ::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $LIGHT_SALMON;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: var(--progress-width, 100%);
      z-index: -1;
      transition: width 300ms;
    }
  }
}
