@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  perspective: 800px;
}

.game-card {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  color: $WHITE;
  border-radius: 50%;
  border: 0;
  user-select: none;

  transition: transform 250ms, background-color 250ms;

  .game-card-content {
    transform: rotateY(180deg);
    opacity: 0;
  }

  &.flipped {
    background-color: $LIGHT_BLUE_GRAY;
  }

  &.not-flipped {
    transition: background-color 0 2s;
    background-color: $MIDNIGHT_BLUE;
    .game-card-content {
      opacity: 0;
    }
  }

  &.selected {
    background-color: $LIGHT_SALMON;
  }

  &.flipped,
  &.selected {
    transform: rotate3d(0, 0.5, 0, 180deg);
  }

  &.selected,
  &.flipped {
    .game-card-content {
      opacity: 1;
    }
  }
}

.game-card-4x4 {
  width: 118px;
  font-size: 3.5rem; //56px
}

.game-card-6x6 {
  width: 82px;
  font-size: 2.75rem; //44px
}

@include small-screen() {
  .game-card-4x4 {
    width: 70px;
    font-size: 2.25rem;
  }

  .game-card-6x6 {
    width: 50px;
    font-size: 1.75rem;
  }
}
