$LIGHT_SALMON: #fda214;
$LIGHT_BLUE_GRAY: #bcced9;
$MIDNIGHT_BLUE: #304859;
$DARK_NAVY: #152938;
$GRAY: #f2f2f2;
$SLATE_BLUE: #7191a5;
$ROYAL_BLUE: #6395b8;
$WHITE: #fcfcfc;

// Breakpoints
$MEDIUM-SCREEN: 40em;
$LARGE-SCREEN: 55em;
